/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #540B51;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

nav {
    background-color: #540B51;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.navitems {
    display: none;
}

.navlogo {
    width: 100px;
}

.hero {
    text-align: center;
    color: white;
}

.iconbutton,
.search,
.menu {
    background-color: #540B51;
    border: none;
}


.slacktext {
    align-items: center;
    display: flex;
    padding: 20px;
}

.button,
.otherbutton {
    padding: 10px;
    text-align: center;


}

.firstbutton,
.secondbutton,
.thirbutton,
.fourthbutton {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 90px;
    border-radius: 5px;
}

.secondbutton {
    background-color: #4285F4;
}

.thirbutton {
    background-color: white;
    color: #540B51;
    align-items: center;
    padding-left: 125px;

}

.fourthbutton {
    background-color: #540B51;
    color: white;
    align-items: center;
    padding-left: 125px;
    border: #F3EAE2 2px solid;
}

.Google {
    width: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.boxsing {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.boxsing2 {
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
}

main img {
    width: 50px;
}

.firstsection {
    background-color: #F3EAE2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 60px 20px 60px;
    font-size: 2em;
}

.imgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgbox img {
    width: 100px;
}

.secondsection {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.secondsection li {
    list-style: none;
}

.secondsection h3,
.secondsection span {
    color: #540B51;
    font-size: 3em;
}

.welcome {
    color: white;
}

.thirsection {
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer {
    background-color: white;
    padding: 20px;
}

hr {
    color: grey;
}

.listaccess {
    list-style: none;
    padding: 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    * {
        img {
            width: 100%;
        }

        .hero {
            background-image: url(background-singup.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            padding: 40px;
            padding-left: 0;
            text-align: left;

        }

        .boxsing {
            padding: 0;
            margin: 0;
        }

        .hero img {
            margin-left: 250px;
        }

        .secondbutton {
            text-align: center;
        }


        .porcentage,
        .listaccess {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 10px;
        }

        .porcentage li {
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 10px;
        }

        .imgbox {
            display: flex;
            justify-content: space-between;
            padding-left: 100px;
        }

        .firstsection img {
            margin: 10px;
            display: flex;
            justify-content: space-between;
            width: 80px;
            height: 50px;

        }

        .firstsection {
            padding: 0;
        }

        .firstsection p {
            text-align: center;
            padding-left: 100px;
        }

        .contact {
            justify-content: flex-start;
            margin: 5px;
        }

        .contact li {
            margin-right: 20px;
        }

        .thirsection {
            padding: 30px;
            flex-wrap: wrap;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .secondsection {
            text-align: center;
            padding: 2rem;
        }

        .secondsection h3 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .porcentage ul {
            display: flex;
            justify-content: space-between;
            padding: 0;
            list-style-type: none;
        }

        .porcentage li {
            flex: 1;
            margin: 0 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .porcentage span {
            font-size: 2.5rem;
            font-weight: bold;

        }

        .porcentage p {
            margin: 0.5rem 0 0;

        }
    }
}